@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poppins&display=swap');
body{
    background-color: #455426;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#letra_usuario {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    font-size: 20px; 
    border: 1px solid #455426; 
    margin-bottom: 10px;
    width: 200px; 
    background-color: #7B9644;
    color:#455426;
}
#letra_usuario::placeholder {
    color:#455426;
    text-align: center;
    font-size: 18px;
}

#exibirTracos{
    font-size: 50px;
    color:#E39030;
}
h1{
    font-family: "Ojuju", sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color:#E39030;
}
h3{
    font-family: "Ojuju", sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color:#E39030;
}
#btt-chutar{
    background-color: #E39030;
    border: 1px solid #E39030; 
    width: 80px;
    height: 30px;
}
#letras-chutadas{
    font-size: 30px;
    color:#7B9644;
}
body {
    font-family: Arial, sans-serif;
  }
  
  




  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }





  
  .menu-acessibilidade {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Garante alinhamento do painel ao botão */

  }
  
  .botao-acessibilidade {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .painel-acessibilidade {
    display: none;
    background-color: green;
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 250px; /* Define um tamanho fixo para o painel */
  }
  
  .painel-acessibilidade button {
    margin: 5px 0;
    padding: 20px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
    width: 100%; /* Deixa os botões ocuparem toda a largura do painel */
  }
  
  .painel-acessibilidade button:hover {
    background-color: #ddd;
  }
  
  .painel-acessibilidade input {
    margin-top: 10px;
  }
  
  .painel-acessibilidade label {
    display: block;
    margin-top: 10px;
  }

/* CSS para mudança a partir do JS */

  .dislexia-font *{
    font-family: 'Dislexia', serif !important;
  }



  .destaque-links  {
    color: yellow !important; 
    text-decoration: underline !important; 
    background-color: black !important; 
}
/* Estilo para os títulos destacados */
         .titulo-destaque {
            color: yellow;
            background-color: black;
            text-decoration: underline !important;
        }



        .perguntas-frequentes {
          max-width: 700px;
          margin-top: 2rem;
          padding-bottom: 1rem;
          border-bottom: 2px solid white;
          cursor: pointer;
        }
        
        .pergunta {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .pergunta h3 {
          font-size: 10px;
          margin: 0; /* Remove default margin */
        }
        
        .pergunta i {
          font-size: 18px; /* Adjust the icon size */
        }
        
        .resposta {
          max-height: 0;
          overflow: hidden;
          transition: max-height 1.4s ease;
        }
        
        .resposta p {
          padding-top: 1rem;
          line-height: 1.6;
          font-size: 1.4rem;
        }
        
        .ativar-resposta {
          max-height: 300px;
        }

        
        .resposta {
          display: none;
      }
      
      .resposta.mostrar {
          display: block;
      }
      
      /* Estilos do ícone de "+" e "-" */
      .pergunta i {
          margin-left: 10px;
          cursor: pointer;
      }
      
      .pergunta i.fa-circle-plus {
          color: green;
      }
      
      .pergunta i.fa-circle-minus {
          color: red;
      }
      