* {
  box-sizing: border-box;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.aparecer {
  opacity: 1;
  pointer-events: all;
}

.modal {
  background: linear-gradient(135deg, #4a90e2, #56c8d2); /* Gradiente de fundo */
  color: white;
  width: 500px;
  max-width: 90%;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; /* Necessário para posicionar o botão de fechar */
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: white;
  margin: 10px auto 0; /* Linha abaixo do título */
}

.modal p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.button-fechar {
  position: absolute;
  top: 15px; /* Distância do topo */
  right: 10px; /* Distância da lateral direita */
  padding: 5px 10px; /* Espaçamento ao redor do texto */
  border: 2px solid white; /* Borda para o círculo */
  border-radius: 100%; /* Deixa o botão redondo */
  background: none; /* Remove a cor de fundo */
  color: white; /* Cor do texto */
  cursor: pointer;
  transition: all 0.3s ease; /* Suaviza a animação ao passar o mouse */
}

.button-fechar:hover {
  color: #4a90e2; /* Cor do texto ao passar o mouse */
  border-color: #4a90e2; /* Cor da borda ao passar o mouse */
}


